:root {
    --beige: #F5F5DC;
    --snow-white: #FEFEFE;
}


.modal-content {
    background-color: var(--snow-white);
}

.modal-content-beige {
    background-color: var(--beige);
}

.modal-body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-container {
    width: 100%;
}

.flex-form {
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
}

#update-image-input, #image-input, #profile-image-input {
    display: none;
}
  
.custom-image-input {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    align-self: center;
}

.custom-profile-image-input {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    align-self: center;
    border-radius: 100%;
}
  
.image-preview {
    height: 200px;
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

.profile-image-preview {
    height: 150px;
    max-width: 120%;
    max-height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-modal-container {
    width: 100%;
}

.wrap-img {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.modal-img-container {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}

.card-img-top {
    width: auto;
    max-height: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.event-modal-content  {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 0 150px 150px 150px;
    gap: 50px;
}

@media screen and (max-width: 820px) {
    
    .event-modal-content  {
        padding: 0 50px 50px 50px;
    }

    .flex-form {
        display: flex;
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    
    .event-modal-content  {
        padding: 0 20px 20px 20px;
    }
}

  
  